# Ignore datasets (extremely large files)
data/

# Ignore virtual environments and configuration files
.env
.venv
env/
venv/
ENV/
my_virtualenvs/

# Ignore python caches and system files
__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/

# Generated artifacts (large)
results/
models/umap_viz.pkl
